<div class="header-container">
  <h3 class="name">{{componentName}}</h3>
</div>
<div class="component-container">
  <div class="main-content">
    <ng-content></ng-content>
  </div>
  <div class="table-content" *ngIf="tableContent">
    <div class="container">
      <div class="heading">Contents</div>
      <nav>
        <a [href]="item.link" class="hash-link lv-1" *ngFor="let item of tableContent" [class.active]="item.isActive">
          {{item.name}}
        </a>
      </nav>
    </div>
  </div>
</div>

