.header-container {
  height: 135px;
  background-color: #1e88e5;
  margin: 64px 0 15px 0;

  .name {
    font-size: 30px;
    font-weight: 400;
    margin: 0;
    padding: 50px 30px;
    color: hsla(0, 0%, 100%, .87);
  }
}

.component-container {
  margin: auto;
  max-width: 1250px;
  display: flex;

  > * {
    box-sizing: border-box;
    padding: 5px;
  }

  .main-content {
    width: 80%;

    &:only-child {
      width: 100%;
    }
  }
}

.table-content {
  height: 100%;
  width: 20%;
  float: left;
  position: sticky;
  top: 75px;
  font-size: 15px;

  a.hash-link {
    line-height: 16px;
    margin: 8px 0 0;
    position: relative;
    text-decoration: none;
    display: block;
    color: rgba(0, 0, 0, .54);

    &:visited {
      text-decoration: none;
      color: inherit;
    }
  }

  .container {
    padding: 5px 0 10px 12px;
    border-left: 4px solid #1e88e5;

    .heading {
      font-weight: bold;
    }

    .lv-1 {
      padding-left: 8px;
    }

    .active {
      color: #ffab40;
    }
  }
}
