<app-component-viewer [componentName]="TITLE">
  <!--Core settings-->
  <mat-card>
    <mat-card-title>Core Settings</mat-card-title>
    <mat-card-subtitle></mat-card-subtitle>
    <mat-card-content>
      <form class="medium-font" #commonSettings="ngForm" novalidate (submit)="applyChanges()">
        <table class="full-width" cellspacing="1">
          <tr>
            <td>
              <mat-form-field class="full-width">
                <input matInput required placeholder="Sprint" #sprintInput="ngModel" [(ngModel)]="sprint"
                       name="sprintInput">
                <mat-error *ngIf="sprintInput.touched && sprintInput.invalid">
                  Sprint is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>
              <mat-form-field class="full-width">
                <input matInput required placeholder="Checking profile url" #checkProfileUrlInput="ngModel"
                       name="checkProfileUrlInput" [(ngModel)]="checkProfileUrl" disabled>
                <mat-error *ngIf="checkProfileUrlInput.touched && checkProfileUrlInput.invalid">
                  Checking profile url is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>
              <mat-form-field class="full-width">
                <input matInput required placeholder="Jira domain" #jiraDomainInput="ngModel" [(ngModel)]="jiraDomain"
                       name="jiraDomainInput" disabled>
                <mat-error *ngIf="jiraDomainInput.touched && jiraDomainInput.invalid">
                  Jira domain is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </td>
          </tr>
          <button mat-raised-button color="primary" [disabled]="commonSettings.form.invalid || !commonSettings.dirty">
            APPLY
          </button>
        </table>
      </form>
    </mat-card-content>
  </mat-card>
  <!--Custom settings-->
  <!--<mat-card>-->
  <!--<mat-card-title>Custom Settings</mat-card-title>-->
  <!--<mat-card-subtitle></mat-card-subtitle>-->
  <!--<mat-card-content>-->
  <!--<mat-tab-group>-->
  <!--<mat-tab label="Dolphin">Not available</mat-tab>-->
  <!--<mat-tab label="Honey Badger">Not available</mat-tab>-->
  <!--</mat-tab-group>-->
  <!--</mat-card-content>-->
  <!--</mat-card>-->
</app-component-viewer>
