<app-component-viewer [componentName]="TITLE">
  <!--Run-profiles-->
  <md-card id="run-profile">
    <md-card-title>
      <div class="flex">
        <span class="title">
          Runprofiles
        </span>
        <!--<div style="flex-grow: 1"></div>-->
        <a md-icon-button (click)="checkoutProfile()" mdTooltip="Refresh" [mdTooltipPosition]="'right'">
          <md-icon ngClass="clickable">refresh</md-icon>
        </a>
      </div>
    </md-card-title>
    <md-card-subtitle>{{baserUrl}}</md-card-subtitle>
    <md-card-content>
      <md-progress-spinner *ngIf="isLoading" [mode]="'indeterminate'" color="accent" [strokeWidth]="7" ngClass="loader">
      </md-progress-spinner>
      <div class="profile-details" [innerHTML]="sanitizer.bypassSecurityTrustHtml(runProfiles)" *ngIf="runProfiles">
      </div>
    </md-card-content>
  </md-card>
  <!--Jira stories-->
  <md-card id="jira">
    <md-card-title>
      <div class="flex">
        <span class="title">
          Jira stories
        </span>
        <!--<div style="flex-grow: 1"></div>-->
        <a md-icon-button (click)="fetchJiraStory()" mdTooltip="Refresh" [mdTooltipPosition]="'right'">
          <md-icon ngClass="clickable">refresh</md-icon>
        </a>
      </div>
    </md-card-title>
    <md-card-subtitle>{{sprint}}</md-card-subtitle>
    <md-card-content>
      <md-progress-spinner *ngIf="!stories" [mode]="'indeterminate'" color="accent" [strokeWidth]="7" ngClass="loader">
      </md-progress-spinner>
      <md-list *ngIf="stories">
        <md-list-item *ngFor="let story of stories">
          <md-icon md-list-icon>bookmark_border</md-icon>
          <p md-line ngClass="title"><a [href]="story.href" target="_blank">{{story.key}}:</a> {{story.fields.summary}}
          </p>
          <p md-line ngClass="sub-title">{{story.fields.issuetype.subtask ? 'Sub Task' : 'Story'}}</p>
          <md-checkbox [(ngModel)]="story.checked"></md-checkbox>
        </md-list-item>
      </md-list>
    </md-card-content>
  </md-card>
  <!--Repo changes-->
  <md-card id="repo">
    <md-card-title>Repo changes</md-card-title>
    <md-card-content>
      <md-list *ngIf="repos">
        <md-list-item *ngFor="let repo of repos">
          <md-icon md-list-icon class="fa fa-github" aria-hidden></md-icon>
          <p md-line ngClass="title">{{repo.name}}</p>
          <p md-line ngClass="sub-title">{{repo.jenkinBuildName}}</p>
          <md-checkbox [(ngModel)]="repo.checked"></md-checkbox>
        </md-list-item>
      </md-list>
    </md-card-content>
  </md-card>
  <!--Action button-->
  <div class="floating">
    <button md-fab mdTooltip="Generate" [mdTooltipPosition]="'left'" (click)="openDialog()">
      <md-icon aria-hidden>unarchive</md-icon>
    </button>
  </div>
</app-component-viewer>
