.profile-details {
  font-size: medium;
}

.loader {
  height: 50px;
  width: 50px;
  margin: auto;
}

.floating {
  bottom: 45px;
  right: 24px;
  position: fixed;
}

.high-light {
  animation: flash 5s;
}

@keyframes flash {
  0% {
    background-color: #FFF9C4;
  }

  100% {
    background-color: transparent;
  }
}
