.loader {
  height: 50px;
  width: 50px;
  margin: auto;
}

.select {
  margin-left: 10px;
  width: 25%;
}

md-list-item {
  .title {
    font-size: 18px
  }

  .sub-title {
    font-size: 15px;
    color: #9e9e9e;
  }
}
