.loader {
  height: 50px;
  width: 50px;
  margin: auto;
}

.select {
  margin-left: 10px;
  width: 25%;
}

.empty {
  height: 100px;
  text-align: center;
  line-height: 100px;
  > h1 {
    font-weight: 500;
  }
}

md-list-item {
  .title {
    font-size: 18px
  }

  .sub-title {
    font-size: 15px;
    color: #9e9e9e;
  }
}
