.profile-details {
  font-size: medium;
}

.high-light {
  animation: flash 5s;
}

@keyframes flash {
  0% {
    background-color: #FFF9C4;
  }

  100% {
    background-color: transparent;
  }
}

.radio-button-group{
  display: inline-flex;
  flex-direction: column;
}
.radio-button {
  margin: 10px;
}
