<div matDialogTitle style="display: flex">
  <span style="line-height: 40px">
    {{data.title}}
  </span>
  <div style="flex-grow: 1"></div>
  <a mat-icon-button matTooltip="Copy to clipboard" [matTooltipPosition]="'left'">
    <mat-icon class="clickable" (click)="copyToClipboard()">content_copy</mat-icon>
  </a>
</div>
<mat-dialog-content>
  <div class="release-content" [innerHTML]="sanitizer.bypassSecurityTrustHtml(data.content)"></div>
</mat-dialog-content>
<mat-dialog-actions ngClass="flex flex-row-reverse">
  <button mat-raised-button matDialogClose color="accent">Close</button>
</mat-dialog-actions>
