.row {
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  justify-content: space-between;

  & > * {
    flex: 1 100%;
  }
  .item {
    box-sizing: border-box;
    padding: 0 5px;
    flex: 0 1 auto;
    width: 50%;

    &_header {
      font-size: 16px;
      font-weight: bold;
      padding: 0 5px;
      line-height: 40px;
    }
  }
}
