<md-toolbar color="primary" ngClass="box-shadow fixed">
  <a md-button routerLink="/home" routerLinkActive="active"><span>RUN-PROFILE RELEASE</span></a>
  <a md-button routerLink="/qa-daily-report" routerLinkActive="active"><span>QA DAILY REPORT</span></a>
  <a md-button routerLink="/pulls" routerLinkActive="active"><span>PULL REQUESTS</span></a>
  <span class="example-spacer"></span>
  <a md-icon-button routerLink="/settings" mdTooltip="Settings" [mdTooltipPosition]="'below'">
    <md-icon class="example-icon">settings</md-icon>
  </a>
</md-toolbar>
<router-outlet></router-outlet>
<footer></footer>
