<mat-toolbar color="primary" ngClass="box-shadow fixed">
  <a mat-button routerLink="/home" routerLinkActive="active"><span>RUN-PROFILE RELEASE</span></a>
  <a mat-button routerLink="/qa-daily-report" routerLinkActive="active"><span>QA DAILY REPORT</span></a>
  <a mat-button routerLink="/pulls" routerLinkActive="active"><span>PULL REQUESTS</span></a>
  <span class="example-spacer"></span>
  <a mat-icon-button routerLink="/settings" matTooltip="Settings" [matTooltipPosition]="'below'">
    <mat-icon class="example-icon">settings</mat-icon>
  </a>
</mat-toolbar>
<router-outlet></router-outlet>
<footer></footer>
