<app-component-viewer [componentName]="'Generate Release Email'">
  <md-card>
    <md-card-title>
      <div class="flex">
        <span class="title">
          Runprofiles
        </span>
        <!--<div style="flex-grow: 1"></div>-->
        <a md-icon-button (click)="checkoutProfile()" mdTooltip="Refresh" [mdTooltipPosition]="'right'">
          <md-icon color="primary">refresh</md-icon>
        </a>
      </div>
    </md-card-title>
    <md-card-subtitle>{{baserUrl}}</md-card-subtitle>
    <md-card-content>
      <md-progress-spinner *ngIf="isLoading" [mode]="'indeterminate'" color="accent" [strokeWidth]="5">
      </md-progress-spinner>
      <div class="profile-details" [innerHTML]="sanitizer.bypassSecurityTrustHtml(runProfiles)" *ngIf="runProfiles">
      </div>
    </md-card-content>
  </md-card>
  <md-card>
    <md-card-title>
      <div class="flex">
        <span class="title">
          Jira stories
        </span>
        <!--<div style="flex-grow: 1"></div>-->
        <a md-icon-button (click)="fetchJiraStory()" mdTooltip="Refresh" [mdTooltipPosition]="'right'">
          <md-icon color="primary">refresh</md-icon>
        </a>
      </div>
    </md-card-title>
    <md-card-subtitle>{{sprint}}</md-card-subtitle>
    <md-card-content>
      <md-progress-spinner *ngIf="!stories" [mode]="'indeterminate'" color="accent" [strokeWidth]="5">
      </md-progress-spinner>
      <md-list *ngIf="stories">
        <md-list-item *ngFor="let story of stories">
          <md-icon md-list-icon class="fa fa-bug" aria-hidden></md-icon>
          <h4 md-line><a [href]="story.href" target="_blank">{{story.key}}:</a> {{story.fields.summary}}</h4>
          <p md-line>{{story.fields.issuetype.subtask ? 'subtask' : 'story'}}</p>
          <p md-line>{{story.fields.labels}}</p>
          <md-checkbox color="primary" [align]="'start'"></md-checkbox>
        </md-list-item>
      </md-list>
    </md-card-content>
  </md-card>
</app-component-viewer>
