<app-component-viewer [componentName]="'Generate Release Email'">
  <md-card>
    <md-card-title>Runprofiles</md-card-title>
    <md-card-subtitle>{{baserUrl}}</md-card-subtitle>
    <md-card-content>
      <div class="profile-details">
        <p>audit-ws 123</p>
        <p>audit-ws 123</p>
        <p>audit-ws 123</p>
        <p>audit-ws 123</p>
        <p>audit-ws 123</p>
        <p>audit-ws 123</p>
        <p>audit-ws 123</p>
      </div>
    </md-card-content>
    <md-card-actions>
      <button md-button>REFRESH</button>
    </md-card-actions>
  </md-card>
  <md-card>
    <md-card-title>Jira stories</md-card-title>
    <md-card-subtitle>Sprint 7.2</md-card-subtitle>
    <md-card-content>
      <md-list>
        <md-list-item *ngFor="let story of stories">
          <md-icon md-list-icon>start</md-icon>
          <h4 md-line><a href="" target="_blank">{{story.code}}:</a> {{story.name}}</h4>
          <md-checkbox color="primary" [align]="'start'"></md-checkbox>
        </md-list-item>
      </md-list>
    </md-card-content>
  </md-card>
</app-component-viewer>
